[2017-07-19 14:30] AlmirKadric-Published opened #1 "Create uninstaller script"
Currently the uninstall process needs to be done manually. Ideally we should automate this into a script for simpler use.

[2017-07-19 15:11] tholu opened #2 "High Sierra compatibility?"
Will this be compatible with macOS High Sierra? Apple seems to be limiting usage of kernel extensions.

[2017-07-19 16:09] AlmirKadric commented on #2
The support of High Sierra will be completely dependent on the compatibility of the TunTap brew cask package. When Sierra was released the TunTap brew formulae was moved from Brew (compiled on install) to Brew Cask (pre-compiled and signed) so that Sierra would stop complaining about the kernel extension not being signed. Worst case scenario, the maintainers of the TunTap package will have patch t

[2017-07-19 16:15] AlmirKadric opened #3 "Allow scripts to be configurable"
Currently the scripts hard code the following:
 * Physical Machine Tap Interface (e.g. /dev/tap1)
 * Host VM Tap Interface (eth1)
 * Physical Machine Gateway IP
 * Host VM Gateway IP

We should allow the user to configure these in some way

[2017-07-19 16:16] tholu commented on #2
@AlmirKadric Thanks for the fast answer & clarification!

[2017-07-19 16:16] #2 closed

[2017-07-25 08:16] wushibin opened #4 "The output give me the message("The hyperkit executable file was of an unknown type") when execute the install script twice"
➜  docker-tuntap-osx git:(master) sh ./sbin/docker_tap_install.sh
Password:
**The hyperkit executable file was of an unknown type**

And after i restart the docker application manually, and add the route to my container ip, i still cannot ping my docker containers directly.

**sudo route add -net 172.16.238.20 -netmask 255.255.0.0 10.0.75.1**

Those docker containers are created by the docker-comp

[2017-10-21 00:22] websemantics opened #6 "Thank you"
Working with Docker on Mac is tricky but your project saved my day,
Really appreciate it .. Thank you

[2017-10-27 04:25] kr-sri opened #7 "Plugin not working on OS X sierra"

[2017-10-27 08:55] kr-sri commented on #7
Hi
I have installed the tuntap and followed the steps mentioned here..still not able to contact the ip address of thedocker  container from host..

here is the container's IP after running  docker inspect <<Container_id>>
                    "Gateway": "172.18.0.1",
                    "IPAddress": "172.18.0.4",
                    "IPPrefixLen": 16,
                    "IPv6Gateway": "",

[2017-11-13 13:38] MartinLasek commented on #7
@kr-sri
Did you try deleting your route
`sudo route -n delete 172.18.0.0/16 10.0.75.1`
And then adding this one
`route add -net 172.17.0.0 -netmask 255.255.0.0 10.0.75.2`
😊

[2017-12-10 13:56] AlmirKadric commented on #6
You're very welcome!!!!
Let me know if there is anything I can do to improve this further ^_^

[2017-12-10 13:57] #6 closed

[2017-12-10 14:08] AlmirKadric commented on #7
Apologies on the late response, last few months have been somewhat crazy for me.

I merged a minor fix which deals with local routing, that may solve your issue.
Do you mind pulling and giving it another try.
If you still have issues please provide me with the following command outputs:
 - `ls -l /dev/tap*` to make sure docker has access to tap interface
 - `ifconfig` to make sure docker connected

[2017-12-10 14:13] AlmirKadric opened #10 "Installer script still fails to recognize that docker has completed its restart"
When the installer script is run, docker is restarted. The script should detect this new PID and proceed to the completion message. However for some reason it still fails to detect this new PID in some instances resulting in a failure to restart message.

Although this is the final step in the process and everything in fact works just fine. It's a nuisance and should be fixed.

[2017-12-10 14:15] AlmirKadric commented on #4
Apologies on the late response, last few months have been somewhat crazy for me.

I merged a minor fix which deals with local routing, that may solve your issue.
Do you mind pulling and giving it another try.
If you still have issues please provide me with the following command outputs:
 - `ls -l /Applications/Docker.app/Contents/Resources/bin/` to make sure the shim was properly installed and con

[2017-12-10 14:22] AlmirKadric opened #11 "Create issue template to help users to provide a bit more information for support"
Currently when users have troubles and open an issue, they do not provide enough information for support. To help reduce the amount of back and forth required we should create an issue template as per https://github.com/blog/2111-issue-and-pull-request-templates with the below contents:

[code]

[2017-12-12 12:01] ondraondra81 commented on #7
Im runnig on High Sierra and all worked fine.  But I thing that @kr-sri use bad route command
'172.18.0.0/16 -netmask 255.255.0.0' is not correct. You are declare two times network mask

[2017-12-12 17:26] AlmirKadric commented on #10
this was fixed, accidentally pushed up to master so I didn't make a PR

[2017-12-12 17:26] #10 closed

[2017-12-20 17:18] AlmirKadric commented on #7
@ondraondra81 good chatch!
Totally missed that in his comment, Indeed he does provide the net mask twice

@kr-sri mind giving it another go with `route -n add -net 172.18.0.0 -netmask 255.255.0.0 10.0.75.1`?

[2018-01-09 21:12] michalciolek commented on #7
Hej,
I have problem with Docker version 17.09.1-ce, build 19e2cf6, macOS 10.13.2 and your script.
I have Docker network 172.16.1.0/24 (gateway 172.16.1.100, container 172.16.1.1).
macOS (10.0.75.1) <--------> (10.0.75.2) xhyve (172.16.1.100) <-----> (172.16.1.1) container

Communication between macOS and xhyve work.
Communication between xhyve and macOS work.
Communication between xhyve and contai

[2018-01-10 05:00] AlmirKadric commented on #7
@michalciolek can you provide me with the output for the commands I previously mentioned:
 - `ls -l /dev/tap*` to make sure docker has access to tap interface
 - `ifconfig` to make sure docker connected to the tap interface
 - `netstat -rn` to make sure routes were set to the containers over the tap interface
 - `docker run --rm --privileged --pid=host --net=host alpine ifconfig` to make docker cr

[2018-01-10 05:02] AlmirKadric commented on #4
I merged a fix which resolves a lot of the issues inside the setup script.
Please try and pull the latest develop changes and let me know if you still have issues.

[2018-01-10 05:59] michalciolek commented on #7
Ok, I have already written that I have communication between macOS and xhyve VM, routing on macOS works OK (output from tshark) and I send the iptables-save output, but here's the output:
[code]

[2018-01-10 06:45] AlmirKadric commented on #7
@michalciolek I think I found your issue, your destination route for the `172.16.1/24` subnet is incorrect. By setting it to `10.0.75.1` you're looping the packets back to macOS. You should set it to `10.0.75.2` so it sends them to the Docker VM instead. Let me know if you still have issues after correcting this.

**UPDATE:** I just noticed the documentation is incorrect and should be fixed to cor

[2018-01-10 06:53] AlmirKadric commented on #7
@michalciolek Once you confirm PR #12 fixes the issue, I will merge it

[2018-01-10 09:10] michalciolek commented on #7
Works! thank you!

[2018-01-10 09:59] AlmirKadric commented on #7
I will wait 1 month for the original reporter to provide more information or I will automatically close this issue

[2018-01-10 10:30] MartinLasek opened #13 "IP Forwarding is broken for newest docker version"
**Docker Version:** 17.12.0-ce-mac46

The command
[code]

would not work anymore and gives the following error:
[code]

[2018-01-10 14:58] ondraondra81 commented on #13
@MartinLasek and you have not problem with install script? because I getting error message that docker can not restarting.

About your issue. I think that in docker host is UFW instead of iptables now

[2018-01-10 14:59] martinlasek commented on #13
I had a problem with the install script until I pulled in the latest state of the master branch 😊

[2018-01-11 04:12] AlmirKadric commented on #13
I'll take a look today and get the README updated with the correct command
thanks for the report!

[2018-01-15 15:41] ondraondra81 commented on #13
@AlmirKadric @MartinLasek think that IP Forwarding working out of box now. I didn't need run any command for FW unlocked and all working ok.
I  have:
Client:
 Version:	17.12.0-ce
 API version:	1.35
 Go version:	go1.9.2
 Git commit:	c97c6d6
 Built:	Wed Dec 27 20:03:51 2017
 OS/Arch:	darwin/amd64

Server:
 Engine:
  Version:	17.12.0-ce
  API version:	1.35 (minimum version 1.12)
  Go version:	go1.9.2

[2018-01-17 04:11] AlmirKadric commented on #13
@ondraondra81 @MartinLasek Sorry for the delay, I also upgraded and tried it on my mac and it seems the remove the firewall all together (pure linuxkit I guess). So the firewall settings inside the Host VM are no longer needed for the tap interface. I'll update the readme 👍

[2018-01-17 04:31] AlmirKadric commented on #13
updated readme, let me know if this is ok, if so I'll merge and close this issue 👍

[2018-01-19 20:49] onpaws opened #15 "Docker Toolbox compatible?"
Thanks for your efforts with this lovely project!
This isn't a bug with your project so much as a question, please feel free to redirect me elsewhere if this is the wrong place. Definitely NOT a complaint either, this project looks sweet, just a developer looking for another developer's opinion. :)

My goal is to get this [docker-compose](https://github.com/fbsamples/f8app/blob/master/docker-compo

[2018-01-20 03:07] AlmirKadric commented on #15
Im just going to throw this out there and apologies if it seems condescending, but are you aware that docker has a pre-packaged binary for for mac and windows called `docker-for-mac`(https://docs.docker.com/docker-for-mac/) and `docker-for-windows`(https://docs.docker.com/docker-for-windows/).

Essentially `docker-for-mac` is a pre-packaged mac application which sets up docker which is already has

[2018-01-20 13:57] onpaws commented on #15
Thanks Almir!
Very helpful reply, not condescending, I appreciate you taking the time.

I am aware of Docker for Mac.
The reason I prefer to stick with Toolbox is because all my other development dependencies are provided by Homebrew - eg Redis, PostgreSQL, Node, etc.
Mostly out of convenience I like to have them all in one place, one command to update everything, etc.

I was curious, what are the

[2018-01-21 05:39] AlmirKadric commented on #15
Understood, the benefits of using docker for mac are the tools it comes with. Not to mention the xhyve VM is configured for you (albeit not 100% the way you want it) (not an experimental driver but a 100% supported setup).

![screen shot 2018-01-21 at 14 33 42](https://user-images.githubusercontent.com/1650294/35191199-420a7e26-feb8-11e7-80d8-b4f50e60a75d.png)
![screen shot 2018-01-21 at 14 33 52]

[2018-01-23 04:47] AlmirKadric commented on #13
got no response so will move ahead with the changes
tested to work on several projects
feel free to re-open if the issues still persists for you

[2018-01-23 04:47] #13 closed

[2018-03-02 21:55] charandas opened #16 "Conflicts with my VPN"
After doing a `docker_tap_up.sh`, I cannot do docker builds that require my npm registry accessible over vpn in 10.x range.

Is there something simple I can do regarding it?

[code]

Clearly the `10.0.0.0` entry won't let it get to my npm which is at `10.21.x.y`.

[2018-03-03 01:25] AlmirKadric commented on #16
Yest there is, its actually been on my todo list for a while here https://github.com/AlmirKadric-Published/docker-tuntap-osx/issues/3
You can send a PR and I would be happy to review and merge it
you can make the `10.x` range ip's configurable via ENV variables here
https://github.com/AlmirKadric-Published/docker-tuntap-osx/blob/master/sbin/docker_tap_up.sh#L10

something like this should suffice,

[2018-03-03 01:29] AlmirKadric commented on #15
@onpaws can I consider this issue resolved?

[2018-03-03 01:30] AlmirKadric commented on #4
will automatically close this issue if no followup by the 10th

[2018-03-03 01:31] #7 closed

[2018-03-05 00:42] Heucles opened #17 "Runned both scripts, still unable to access the container through IP"
Hi @AlmirKadric, first of all, thank you for the work that you've put into this project.
But I am facing some issues, and I'm wondering if you could help me with them.

I am on a MacBook Pro with HighSierra(10.13.3) on it, and after installing tuntap, and running both scripts successfully, I am still unable to access my container through the ip that is provided for me over the docker inspect comma

[2018-03-05 01:39] AlmirKadric commented on #17
hi @Heucles, have you read the README.md file and followed the instructions there?

The scripts will install a shim which attaches a tap interface to the docker Host VM and bring up the 10.0.75.(1,2) ip bridge. However you still need to setup the IP routing into your containers. This is what the README.md file explains.

Alternatively if you are using Node.js you can use my other project which aut

[2018-03-06 05:55] wushibin commented on #4
sorry for late response.

[2018-03-06 05:55] #4 closed

[2018-03-12 20:30] onpaws commented on #15
Yes, you've been very helpful Almir.
Thanks.

[2018-03-12 20:30] #15 closed

[2018-03-14 17:47] charandas commented on #16
I considered your advice @AlmirKadric. However, using a 192 subnet led to other problems like not being able to connect to GitHub.

A simpler hack I came up with, was to copy script `./sbin/docker_tap_up.sh` to `./sbin/docker_tap_down.sh` (with the word `up` replaced by `down` on the ifconfig line). This restores my ability to build against my registry over VPN.

[2018-03-14 17:55] AlmirKadric commented on #16
@charandas sure but that still makes the setup incompatible with your VPN and now you're required to switch between the 2. In my suggestion you're not limited to the `10.x` and `192.x` range, not sure why you assumed I recommended using the `192.x` range. You can take the range `11.x` for example and it will still work. The idea is that you need to use a subnet which doesn't conflict with other su

[2018-03-14 19:11] charandas commented on #16
Thanks much again.

I only know of a 10, 172, 192 range recommended by IETF for internal use.

In my case, all of those ranges are in use in my company environment when I vpn in.

How can I ever be sure when using the 11.x example that I won’t run to other connectivity issues to other websites while simply browsing?

[2018-03-15 06:45] AlmirKadric commented on #16
@charandas  That is true, you could run into issues if you are browsing and a site happens to fall under the `11.x` range. My final question then would be (though honestly outside the the scope of this project and more an issue with how you're doing networking) why is your local network / VPN using the entire `10.x` and `192.x` range? Or is there a subnet in the `172.x` range you can use? Generall

[2018-04-06 16:22] pts-rajperera opened #20 ""The hyperkit executable file was of an unknown type" when installer is run twice"
This is most likely related to #4

I ran in to this issue as well trying to run the install script twice. The error "The hyperkit executable file was of an unknown type" seems to be coming  from the installer script because it checks the file type of the of the hyperkit shim by using the `file` command. In my machine the output of the command is
[code]
and the script checks for https://github.com/

[2018-04-08 02:01] AlmirKadric commented on #20
ah right, that is indeed an issue, I'll try and get it fixed over the next few days
if you can't wait, mind making a PR? I'm more than happy to review it

[2018-04-11 04:28] blairexico opened #21 "Do I need a default route out of my containers?"
I can ping 172.17.0.1 (the default gw that my containers are set to) from my host.

I can't ping any of the other containers, **can't seem to get a http connection either** (perhaps ping will never work)..

Idk what this default gateway is.. its related to default0 on linux, but I understand OSX it works in a different manner.

So, do I need to go into my other containers and replace the default r

[2018-04-27 07:05] nifr commented on #21
You need to route all traffic to docker's IP addresses through the tuntap interface like this:

    sudo route add -net 172.16.0.0 -netmask 255.240.0.0 10.0.75.2

Needs to be done after every host restart obviously.

For some reason I occasionally need to remove the routing and add it back again if I can't connect to the containers anymore.

    sudo route delete -net 172.16.0.0 -netmask 255.240.0

[2018-04-27 07:10] nifr commented on #17
You need to route all traffic to docker's IP addresses through the tuntap interface like this:

    sudo route add -net 172.16.0.0 -netmask 255.240.0.0 10.0.75.2

Needs to be done after every host restart obviously.

For some reason I occasionally need to remove the routing and add it back again if I can't connect to the containers anymore.

    sudo route delete -net 172.16.0.0 -netmask 255.240.0

[2018-05-04 09:30] m0rth1um opened #22 "Errors when restarting docker after installation"
[code]

Then I manually restarted Docker.

[code]

[2018-05-04 10:09] gmuloc commented on #22
Hi,

I did the install yesterday and encountered the same issues.
First one:
The install script did not copy ```./sbin/docker.hyperkit.tuntap.sh``` to replace the ```hyperkit``` binary though the binary was indeed copy to ```hyperkit.original```.

I just did the copy step manually
```cp ./sbin/docker.hyperkit.tuntap.sh /Applications/Docker.app/Contents/Resources/bin/hyperkit```

and then was able

[2018-05-04 11:28] m0rff commented on #22
I reseted Docker to factory settings and now it's working. I may have had set a wrong IP address in the Docker network preferences.

[2018-05-07 08:22] AlmirKadric commented on #21
@nifr thanks for the help

@blairexico no you do not need a default route `out` of your containers. They should already be setup to communicate out over the host. The fundamental issue is that on macOS docker doesn't support communicating `in` out of the box which is what theses scripts are designed to help setup.

Have you read the README file of the project? there is a pretty good explanation th

[2018-05-07 08:24] AlmirKadric commented on #22
@gmuloc thanks for the help!
@m0rth1um can i consider this issue resolved?

[2018-05-07 08:25] AlmirKadric commented on #17
@Heucles are you still having issues?
can I consider this issue as resolved?

[2018-05-07 08:26] AlmirKadric commented on #16
@charandas did you managed to resolve your issue? is there any other follow up you would like to do? or can I close this issue?

[2018-05-07 08:30] m0rff commented on #22
@AlmirKadric Yes

[2018-05-07 08:38] AlmirKadric commented on #22
@m0rth1um thanks for the quick reply!

[2018-05-07 08:38] #22 closed

[2018-05-09 15:16] charandas commented on #16
You can close this issue @AlmirKadric. Thanks for your attention to detail.

For now, I am using the scripts as they are, knowing the limitations of my network. Perhaps, someday I will play with the routing table as suggested, but for now, I am satisfied.

[2018-05-09 15:16] #16 closed

[2018-06-24 16:40] RRPRIME opened #23 "18.03.1-ce-mac65 - The system does not work anymore"
Mac OS: 10.13.5 (17F77)

Docker
Version 18.03.1-ce-mac65
Engine: 18.03.1-ce
Compose: 1.21.1

./docker_tap_install.sh - crashes the docker and it never recovers, you need to quit an start again, reports installed after

./docker_tap_install.sh -f
Restarting process 'com.docker.hyperkit' [57982] results in Fatal Error - com.docker.supervisor failed to start - Exit code 1

./docker_tap_up.sh - runs b

[2018-06-25 01:20] AlmirKadric commented on #23
thanks for reporting, will take a look 👍

[2018-06-25 07:50] ArsBinarii commented on #23
Mac OS: 10.12.6 (16G1314)

Docker
Version 18.03.1-ce-mac65
Engine: 18.03.1-ce
Compose: 1.21.1

./docker_tap_install.sh -
Installation complete
Restarting process 'com.docker.hyperkit' [61885]
Failed to restart process 'com.docker.hyperkit'

The Docker is just stuck in starting after 15 min I restarted the Docker.

./docker_tap_install.sh -
Already installed
Use "-f" argument if you want to restart

[2018-07-09 17:43] AlmirKadric commented on #23
@RRPRIME sorry for the delay, i got sidetracked and forgot about this issue. I just tested this and apart from the restart step crashing docker (need to manually start up docker), it all seems to work fine on my end. Do you mind providing me with the following to help debug your situation:
 - `ls -l /Applications/Docker.app/Contents/Resources/bin/` to make sure the shim was properly installed and

[2018-07-12 10:16] tonifirnandes opened #24 "Can't install plugin on macOS High Sierra 10.13.5"
Dear team,

Please help us, when we did "brew cask install tuntap", we got error :

brew cask install tuntap
==> Caveats
To install and/or use tuntap you may need to enable their kernel extension in

  System Preferences → Security & Privacy → General

For more information refer to vendor documentation or the Apple Technical Note:

  https://developer.apple.com/library/content/technotes/tn2459/_in

[2018-07-15 11:31] AlmirKadric commented on #24
Hi @tonifirnandes ,
If you follow the exact instructions there it should work (I did the same thing a few days ago on my new macbook pro). After you attempt the installation, it will fail with the above message. If you then go to your `Systems Preferences` -> `Security & Privacy` (1st Tab - `General`) you will see an additional button near the `Allow apps downloaded from:` (see attached image)
![i

[2018-07-15 11:33] AlmirKadric commented on #21
@blairexico has your problem been resolve?
I would like to clean up the issues list.
If I dont get a response by next week, I will close this issue.

[2018-07-15 11:34] #17 closed

[2018-07-15 11:34] AlmirKadric commented on #17
This issue was inactive, if there are further issues feel free to re-open the issue.

[2018-08-12 02:22] rhickstedjr commented on #24
I have the kext loaded (net.sf.tuntaposx.tap) but can't create the tap interface (trying to use for simh to get my VAX network operational):

Note:  installed via brew:

brew cask install tuntap

192-168-2-122:BIN rickhicksted2$ uname -a
Darwin Ricks-MBP-2 17.7.0 Darwin Kernel Version 17.7.0: Fri Jul  6 19:54:51 PDT 2018; root:xnu-4570.71.3~2/RELEASE_X86_64 x86_64

192-168-2-122:BIN rickhicksted2$

[2018-09-01 04:42] chenyanlei commented on #24
Hi @tonifirnandes
I have encountered the same problem, have you solved it?

[2018-09-03 04:11] AlmirKadric commented on #24
@rhickstedjr apologies for the late reply. Will answer this anyway for others to have some reference. If the tap interface doesn't appear within ifconfig it means that docker hasn't bound to it. To resolve this restart docker-for-mac manually. Also to help further diagnose the issue the following information should be provided:
 - `ls -l /Applications/Docker.app/Contents/Resources/bin/` to make su

[2018-09-03 04:11] AlmirKadric commented on #24
@chenyanlei can you provide the above information and I'll help you with your issue as well

[2018-10-12 06:52] jannal opened #25 "interface tap1 does not exist"
Every time restart mac
mac:sbin jannal$ sudo ./docker_tap_up.sh
ifconfig: interface tap1 does not exist

[2018-10-19 01:26] AlmirKadric commented on #25
@jannal you mean after you run the install script, every time you restart your mac and docker starts up, the interfaces aren't created? What is the process you followed from the beginning?

[2018-10-19 01:32] AlmirKadric commented on #23
@RRPRIME are you still facing issues
I would like to clean up this issue
if i dont get a response by next i will be closing the issue

[2018-10-19 01:32] AlmirKadric commented on #24
@chenyanlei @tonifirnandes  are you still facing issues
I would like to clean up this issue
if i dont get a response by next i will be closing the issue

[2018-10-20 04:02] jannal commented on #25
@AlmirKadric right

[2018-10-20 04:52] jannal commented on #25
@AlmirKadric

docker version: 18.06.1-ce-mac73 (26764)
mac: MacOS Sierra 10.12.6  MacBook Pro (Retina, 15-inch, Mid 2014)

### first install
$  brew tap caskroom/cask
$  brew cask install tuntap
$ ./sbin/docker_tap_install.sh
$ ./sbin/docker_tap_up.sh
$  sudo launchctl list |grep tap
-	0	net.sf.tuntaposx.tun
-	0	net.sf.tuntaposx.tap
-	0	com.fortinet.fctappfw

### restart mac

**start docker**

**$

[2018-10-22 02:32] AlmirKadric commented on #25
@jannal
I see, the reason for that error is because docker hasn't bound itself to that tap interface
Can you give me the output of the docker hyper command after a restart `ps -axf | grep hyper`
Also instead of re-running the install script, try restarting docker to see if it attaches itself to the tap interface

[2018-10-23 13:18] jannal commented on #25
@AlmirKadric

mac:~ jannal$ ps -axf | grep hyper
  501   646   635   0  9:15下午 ??         0:41.55 /Applications/Docker.app/Contents/Resources/bin/com.docker.hyperkit.original -A -u -F vms/0/hyperkit.pid -c 4 -m 4096M -s 0:0,hostbridge -s 31,lpc -s 1:0,virtio-vpnkit,path=vpnkit.eth.sock,uuid=9c42dae8-af56-4e9f-88fa-cc2536b3b172 -U fd63f0d1-3986-481b-9644-600050528e65 -s 2:0,ahci-hd,file:///Volumes/

[2018-10-29 18:16] fijimunkii commented on #23
@AlmirKadric I had the same issues on install. Restarted docker and the engine is running. The `ifconfig` entry for `tap1` looks correct.
[code]
When running your debug commands I get stuck with:
`nsenter: failed to execute iptables-save: No such file or directory`

[2018-11-23 10:16] lscgzwd commented on #23
I also got this.
[code]
But, I just ignore this. Reopen docker for mac . then exec ```./sbin/docker_tap_up.sh``` , It works fine for me.

[2018-12-21 12:08] antwal opened #26 "18.09.0 build 4d60db4 - The system does not work anymore"
Hi this script not working,

the docker.hyperkit.tuntap.sh return always message Network interface arguments not found

Info for debug:

ls -l /Applications/Developer/Docker.app/Contents/Resources/bin/
[code]

ls -l /dev/tap*
[code]

ifconfig
[code]

netstat -rn
[code]

docker run --rm --privileged --pid=host --net=host alpine ifconfig
[code]

docker run --rm --privileged --pid=host debian nsenter

[2018-12-24 14:11] pawelniewie commented on #25
Had the same issue, closed Docker, re-run install and up scripts and it's running again.

[2019-01-03 16:33] pawelniewie commented on #25
Well, actually disregard my previous comment. I spent more time today investigating this and I found out that docker will start openvpn and proxy containers automatically after I boot up my Mac (after a clean shutdown) so tap1 wasn't available as it was already in use.

The one thing left for me was to run `sudo route add -net 172.30.0.0 -netmask 255.255.0.0 10.0.75.2` and everything works fine.

[2019-03-03 19:48] hemanthpai commented on #25
I have the same issue

[2019-03-03 19:50] hemanthpai opened #28 "Install script does not kill Docker gracefully"
When the install script is run, Docker is forced killed by finding its PID. This displays a modal dialog saying docker quit unexpectedly. Also, it doesn't restart. An alternative, is to gracefully quit Docker and restart it ourselves like so:

docker stop $(docker ps -aq) && test -z "$(docker ps -q 2>/dev/null)" && osascript -e 'quit app "Docker"'

open --background -a Docker

I'd like to submit a

[2019-04-09 06:32] ilovefood2 commented on #25
I have same issue

[2019-05-20 05:41] #1 closed

[2019-05-20 05:43] AlmirKadric commented on #23
this may have been fixed with #29
can someone please take a look and let me know if it is resolved
CC: @lscgzwd  @fijimunkii

[2019-05-20 05:43] #24 closed

[2019-05-20 05:43] AlmirKadric commented on #24
closed due to inactivity

[2019-05-20 05:44] AlmirKadric commented on #28
thanks for this

[2019-05-20 05:44] #28 closed

[2019-07-16 00:30] normtown commented on #26
I'm also seeing this. Running engine 18.09.2. Any idea what's going on?

[2019-07-16 01:40] AlmirKadric commented on #26
Thanks for brining this up, will take a look

[2019-07-16 18:59] normtown commented on #26
Thanks. What can I do to help the investigation?

[2019-07-18 07:45] AlmirKadric commented on #26
Hmmm unusual,
I just ran the script against a fresh install of Docker
 - Version 2.0.0.3 (31259)
 - Engine: 18.09.2

And it all ran fine
[code]

According to your error message the arguments passed to the shim script doesn't contain any arguments relating to the networking options within hyperkit. That error message you said you're getting from you executing the script directly? Or from the intern

[2019-07-18 07:53] AlmirKadric commented on #25
@jannal are you still getting the issue on the latest version?
please try pulling down the latest code, and re-installing the shim
you can do this with `./sbin/docker_tap_install.sh -f`

please let me know if anyone is still having the same issues

[2019-07-18 07:55] AlmirKadric commented on #23
@RRPRIME @lscgzwd @fijimunkii are you guys still having those issues on the latest version?
please pull the latest code and re-install the shim with `./sbin/docker_tap_install.sh -f`
let me know if the problem still exists

[2019-07-18 08:10] AlmirKadric commented on #20
this should be fixed in the latest commit
do you mind pulling and trying again?

[2019-07-18 17:29] normtown commented on #26
I just realized that I'm seeing a slightly different problem. The install script runs fine, but if I setup a route to my container through 10.0.75.2, run a netcat listener in my container, and try to connect from an OSX shell, it cannot connect. I have also tried running the netcat listener from a shell in the xhyve VM, and tried to connect to it directly on 10.0.75.2, and it is still unreachable.

[2019-07-18 22:36] normtown opened #31 "Cannot connect to container after setup"
I really don't get why this is not working. I'm simply running a netcat listener in my container:

[code]

...and trying to connect from my laptop's shell, which fails:

[code]

Before doing this test, I had set up a route on my laptop that uses the `10.0.75.2` gateway:

[code]

...which we can see here:

[code]

We can see the `tap1` virtual device is present on the laptop:

[code]

...and we can

[2019-07-18 22:37] normtown commented on #31
Docker Engine: `18.09.2`
macOS: `10.13.6`

[2019-07-18 22:39] normtown commented on #31
[code]

[2019-07-19 04:09] AlmirKadric commented on #31
@normtown if you check the README, there is an additional note under the command you're using
Depending on the docker-for-mac version the command may change

Can you try this command instead?
[code]
Then attempt to ping the container?
If the ping works, the routing has been setup properly

I keep all the latest wrappings for this system within the nodejs docker helpers package I created
You can al

[2019-07-22 01:47] jannal commented on #25
@AlmirKadric Thank you, I will try

[2019-07-22 16:31] normtown commented on #31
Thanks for that clarification. I ran the command. There were no error messages, but also still no change in behavior. My laptop shell still cannot connect to `nc` running in a Docker container. `ping` also doesn't work (times out).

On a side note, it wasn't clear to me that I needed to run that command because the README says:

I read that as neither command (above or below) being necessary when

[2019-07-25 18:37] pauldraper opened #32 "TunTap sunsetting...suggestions?"
It looks like TunTap will no longer be installable starting macOS 10.14.5

https://sourceforge.net/p/tuntaposx/bugs/28/

Any suggestions for alternatives?

[2019-07-26 06:31] AlmirKadric commented on #32
It seems that tunnelblick has resolved the issue withing their build.
I'll reach out to their team to see if we can get that easily available for download as a standalone
If not I will put in the work to do get them into a standalone package
Thanks for bringing this up 👍

[2019-07-26 06:54] AlmirKadric commented on #31
so to clarify you followed these steps:
 - ran install script `./sbin/docker_tap_install.sh`
 - waited for docker to restart (should be a part of the above script)
 - ran iface binding script `docker_tap_up.sh`
 - ran the routing command `route add -net <IP RANGE> -netmask <IP MASK> 10.0.75.2`
   (where IP RANGE is the range of your docker containers network, usually defined in docker compose file

[2019-07-26 15:52] pauldraper commented on #32
Thank you!

[2019-08-21 14:05] jwundrak commented on #25
Are they some suggestions, how to fix this? Of course running `./sbin/docker_tap_install.sh -f` resolves the problem, but why the tap1 device is not enabled after a reboot?

Comparing the parameters after reboot and then after execution docker_tap_install, the command of starting hyperkit is exactly the same:

[code]

[2019-08-22 01:52] AlmirKadric commented on #25
@jwundrak, in theory, you shouldn't need to run the install script after a reboot. Once the shim is installed, all you should need to do is bring the tap interfaces up with ./sbin/docker_tap_up.sh

However, sometimes docker will start up before the tap interfaces are ready at a system level. This is why the -f option is needed since it forces a restart of docker and at this point, the tap interfac

[2019-08-23 03:48] genevera commented on #32
Looks like they are providing instructions on how to grab those kexts from the package in that ticket that is linked above.

[2019-08-26 17:14] jwundrak commented on #25
@AlmirKadric Sorry for the late response.
I think, this is the exactly the issue of the OP @jannal . I saw currently no option for the delay, but if you find something, it would be so great.

Else I need to write a script, that is restart docker, after the first start, which is really ugly.
You never got this behaviour or run you we `-f`-flag after a reboot (like me) :)

[2019-10-29 21:07] PantherJohn opened #33 "Are the arguments used to create the host virtual machine really hardcoded?"
`~/Library/Containers/com.docker.docker/Data/vms/0/hyperkit.json` gives me the following
[code]

The `Hyperkit` wrapper included in Docker Desktop For Mac as a "key component." Its source code shows that the JSON config is directly used to configure `com.docker.hyperkit`.

https://github.com/moby/hyperkit/blob/ed9ab73104691fb24db340b58e28a7d45e177eea/go/hyperkit.go#L58

https://github.com/moby/hyp

[2019-10-29 22:15] #33 closed

[2019-11-03 05:26] AlmirKadric commented on #33
Glad you figured it out!

[2019-11-03 05:27] AlmirKadric commented on #20
will close due to inactivity, if anyone has this problem again please make another issue

[2019-11-03 05:27] #20 closed

[2019-11-03 05:28] AlmirKadric commented on #23
will close due to inactivity, if anyone has this problem again please make another issue

[2019-11-03 05:28] #23 closed

[2019-11-03 05:31] AlmirKadric commented on #26
@normtown please open another ticket with an exact description of your issue
I will close this issue as I believe this issue was fixed in a previous fix.
If anyone is still having this issue, please open a new ticket and I'll take a look

[2019-11-03 05:31] #26 closed

[2019-11-03 05:33] AlmirKadric commented on #31
@normtown any update on this?
Did you manage to fix your issue?

[2020-03-16 01:54] jannal commented on #25
@AlmirKadric  Problem still exists

[2020-04-07 17:34] zek commented on #25
Same here

[2020-04-27 11:44] sagiBarkol commented on #25
same here

[2020-05-20 09:03] vinothbellie commented on #25
Same here with Docker Version: 19.03.8

[2020-05-29 14:18] kritarthh commented on #25
Make sure that user running docker.hyperkit owns /dev/tap1
For me running `docker_tap_install.sh` with correct user did the trick.
Something like this:
`sudo -u $(ps aux |grep '[d]ocker.hyperkit' |cut -d' ' -f1) ./docker_tap_install.sh -f`

[2020-11-16 08:57] Mahoney opened #36 "Thoughts on automation?"
Installed this yesterday, in the absence of https://github.com/docker/for-mac/issues/155 ever being addressed, and discovered it works perfectly, despite me being on Catalina (10.15.7) (so why can't Docker just fix it?!). Thanks so much! I've been wanting to make it easier to

However, I'd really like to automate running [docker_tap_up.sh](https://github.com/AlmirKadric-Published/docker-tuntap-osx

[2020-11-18 07:28] AlmirKadric commented on #36
@Mahoney That container idea is quite interesting and if you manage to get it working, I'm happy to add it to the project. An alternative would be to write a scheduled launched script which checks if the ifaces are up and runs if not. Either of these if made by someone I'm happy to add it to the project and make it a one-off installable service.

As for routes, this is a per-project thing and some

[2020-11-18 07:29] AlmirKadric commented on #32
seems that the system is still working on Catalina (10.15.7)
so I will close this as no longer an issue
let me know if you still have any other issues

[2020-11-18 07:29] #32 closed

[2020-11-18 09:37] Mahoney commented on #36
I'll try and get it into a more manageable form, but I've spiked it and this works:
* Create a program to run at startup on the host that evaluates commands passed
  to a network socket
[code]
* Alter the `docker_tap_up.sh` script to call `/sbin/ifconfig` rather than `ifconfig`
  (is there a way to avoid this and have sudoers allow ifconfig on the path?)
* Add the `ifconfig` call to sudoers so it

[2020-11-18 09:40] Mahoney commented on #36
On linux I think all the networks using the bridge driver are addressable from the host, so I'd been planning on parsing the output of `docker network ls` and `docker inspect <network_name>` to automatically add routes for each bridge network. I was thinking of also getting the `docker-tap-init` docker container to listen to docker events to add & remove routes dynamically as networks are created

[2020-11-18 09:41] Mahoney commented on #36
Last thing I thought of was to bundle this all up in a brew recipe that would depend on docker for mac & tuntap, so setting up docker for mac with addressable containers would be a one line brew install.

[2020-12-06 11:55] ghost commented on #32
Working on macOS 11 as well.

[2020-12-06 12:09] balibebas opened #37 "Unable to map hosts as expected"
Set this up today for K3s and wrote a tutorial [here](https://habd.as/post/kubernetes-macos-load-balancing-k3s-k3d-metallb/) showing how to do it with dynamic IP allocation using MetalLB.

Oddly, I'm not able to map the IP in my subnet with some entries in `/etc/hosts`.

This works:

[code]

This does not:

[code]

I understand the .local Top-Level Domain is reserved by RFC6762 for Multicast DNS.

[2020-12-08 22:18] tomml commented on #24
Seems not working for new Apple M1 chip? Could anyone confirm?

[2020-12-09 23:50] nadenf opened #38 "Fails to install due to Swarm error"
New Docker installation:
 * Version: 2.5.0.1 (49550)
 * Engine: 19.03.13

Following error message after running docker_tap_install.sh:

[code]

[2020-12-10 00:30] #38 closed

[2020-12-16 11:33] Mahoney commented on #36
FWIW, I've got this working:
https://github.com/Mahoney/docker-lifecycle-listener

with `docker_tap_up.sh` in `/usr/local/etc/docker-lifecycle-listener.d/on_start/`

And a script to automatically create the routes:
https://github.com/Mahoney-forks/docker-tuntap-osx/blob/master/sbin/docker_tap_up_routes.sh
can also be added to `/usr/local/etc/docker-lifecycle-listener.d/on_start/` to get it working

[2020-12-16 15:13] Mahoney commented on #32
Hope it continues to work. An upgrade to Catalina stopped it working, but uninstalling and reinstalling tuntap via homebrew and / or uninstalling and reinstalling docker_tap brought it back.

[Mattias Nissler's Final Message To His Creation](https://sourceforge.net/p/tuntaposx/mailman/message/37053479/) is a little cryptic on how to replace tuntap:

What is utun and how would I use it? What would

[2021-01-08 17:30] Mahoney commented on #36
I've packaged this up in my own brew tap, so you can install it as so:
[code]
Note the instructions in the caveats, you have to sudo chown a couple of things & do a brew services start.

You can get feedback thus:
[code]

I'd like to publicise this more widely (e.g. on the [#docker-desktop-mac slack channel](https://dockercommunity.slack.com/archives/C2UHPTWP4) and on the https://github.com/docker

[2021-01-25 12:28] im-kulikov opened #40 "Is there any alternative to tuntap osx?"
1. Apple M1 doesn't support tuntap-osx (not my case)
2. Apple deprecates tuntap kexts (all cases)
3. There're some bugs that would not be fixed in tuntap-osx (latest update 2015 year) and sometimes it cases reboot of macOS 11 (x64 cpu)

So, is there any alternatives for tuntap-osx?

[2021-01-26 15:48] im-kulikov commented on #40
Example of kernel panic

[code]

[2021-03-22 03:54] AlmirKadric commented on #36
@Mahoney sorry for the late reply

Go nuts, MIT FTW ^_^

I recently started another project which needs me to use docker like this on mac again
So I'm hoping I will have time again to look at this project and give it a bit more love that it deserves
I'll get back to you here once I get my head around all the issues this project has and have a strategy to address them all
I'll try to make another m

[2021-04-18 05:10] Jean-Baptiste-Lasselle opened #41 "Fatal Error restarting docker daemon on install"
so I :
* by some chance once get the tap interface after running the install script, and could then use the tap up script, add the route, and ping my containers
* after some minutes playing with the containers I realize I cannot ping them anymore, although the tap interface was still ther (but noticed IP address of tap, configured as gateway, had changed -> but there even changing the route with n

[2021-07-31 14:02] km1562 commented on #24
I have the same problem for M1 chip

[2021-09-04 06:53] kiranchavala opened #42 "Unable to install it on Macbook m1"
Not able to install tuntap

 brew cask install tuntap

==> Installing Cask tuntap
==> Running installer for tuntap; your password may be necessary.
Package installers may write to any location; options such as `--appdir` are ignored.
Password:
installer: Package name is TunTap Installer package
installer: Installing at base path /
installer: The install failed. (The Installer encountered an error

[2021-09-04 06:55] kiranchavala commented on #42
Seems like a open issue at  https://github.com/Tunnelblick/Tunnelblick/issues/682

[2021-09-04 06:55] kiranchavala commented on #42
https://github.com/Tunnelblick/Tunnelblick/issues/682

[2021-10-15 10:01] vinobc commented on #42
same for me as well

[2022-02-16 18:39] gitrojones commented on #40
We haven't been able to find a drop-in equivalent for our M1 machines. With that said, a good alternative has been setting up an ovpn container to run in docker and using Tunnelblick to connect with our needed CIDR ranges. Not as ideal as a proper host bridge but its pretty close.

[2022-02-16 18:40] gitrojones commented on #42
Incase this helps anyone else:

A good alternative has been setting up an ovpn container to run in docker and using Tunnelblick to connect with our needed CIDR ranges. Not as ideal as a proper host bridge but its pretty close.